@tailwind base;
@tailwind components;
@tailwind utilities;

/* SIDEBAR PRIVATE LAYOUT */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebarPl {
    width: 18rem;
    height: calc(150vh - 52px);
    font-family: 'Rubik', sans-serif;
    border-right: 1px solid #e7e9eb;
}

.link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.link:hover {
    background-color: #dfdede;
}

.active{
    background-color: #dfdede;
    text-decoration: none;
    font-weight: 400;
}

.active:hover {
    background-color: #dfdede;
}

.content {
    width: max-content;
}

.iconSidebar:hover {
    color: #7d211d;
}
ul {
    list-style: none;
    padding: 1rem 2rem;
}

@media (max-width: 900px) {
    .flexPl {
        display:flex;
        flex-direction: column;
    }
    .sidebarPl {
        display:none;
    }
}

@media (min-width: 900px) {
    .flexPl {
        display: flex;
        flex-direction: row;
    }
    .iconSidebar {
        display: none;
    } 
    .sidebarPl {
        width: 18rem;
    }   
}

/* NAVBAR PRIVATE LAYOUT */
 @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
 
.navbarBrand {
    font-weight: 600;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

/* TABLA */
.tabla {
    width: 100%;
    margin: 10px;
    overflow-y: scroll;
  }
  
  .tabla td,
  .tabla th {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .tabla th {
    background-color: #7d211d;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }
  
  .tabla tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tabla tr:hover {
    background-color: #ddd;
  }
  @media (max-width: 900px) {
    .tableResponsive {
        display:none
    }
    .divCardsTable {
        display:flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (min-width: 900px) {
    .divCardsTable {
        display:none;
    }
}

  /* INPUT */
  .input {
    @apply p-2 border border-red-900 focus:outline-none focus:border-red-800 rounded-md shadow-sm;
  }